
:root {
    /*--spacer-top: 330px;*/
    /*--spacer-bottom: 370px;*/
    --spacer-mobile: 100vh;
    --annotation-width: 340px;
}


.row {
	/*width: 100%;*/
}

body {
	font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New", "Helvetica Neue";
    /*font-family: 'Tiempos Text Web',Georgia, Times, Serif*/
	background-color: #f9f9f9;
}

#intro-tile > p, .step, #nodelink-intro {
    font-family: 'Lora', 'Merriweather', 'Playfair Display', "Helvetica Neue";
    font-size: 16px;
    width: 75%;
    margin: auto;
}

h1 {
    font-family: 'Roboto';
    font-size: 45px;
    text-align: center;
}

.spacer {
	height: 50px;
}

strong {
	font-weight: 900;
}

.tile-wrapper {
    min-height: 780px;
    position: relative;
    text-align: center;
    /*left: 30%;*/
    /*opacity: 0.2;*/
}

#intro-wrapper {
    min-height: 100vh;
    z-index: 70;
}

.viz-tile {
    position: sticky;
    top: 40px;
    right: 0;
    left: 0;
    margin-right: auto !important;
    margin-left: auto !important;
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    margin-top: 20px;
    /*margin-bottom: 40px;*/
    /*margin-right: 15px;*/
}

#nodelink-tile {
    max-width: 98vh;
}

#bubbleplot-tile {
    max-width: 100vh;
}

#intro-tile {
    margin: 30px auto 0 auto;
}

#beeswarm-tile {
    top: 20px;
    margin-top: 0;
}


#sections {
    position: absolute;
    display: inline-block;
    /*max-width: var(--annotation-width);
    min-width: 150px;
    width: 70%;
    top: 0px;*/
    /*left: 50%;*/

    width: 100%;

    text-align: center;
}



/*p {*/
    /*font-size: 16px;*/
/*}*/

.step {
    /*margin-top: 100vh;*/
    /*margin-bottom: var(--spacer-bottom);*/
    /*margin-left: 10px;*/
    /*transform: translateX(-50%);*/

    margin: 100vh auto 0 auto;

    position: relative;

    min-width: 150px;
    width: 80%;
    max-width: var(--annotation-width);

    min-height: 150px;
    border-radius: 15px;
    opacity: 0.94;

    z-index: 50;

    background-color: white;
    overflow: hidden;
}


.step.phantom {
    opacity: 0.0;
    z-index: -1;
    width: 0px !important;
    margin-bottom: 100vh;
}

.step .title {
	text-align: center;
	font-weight: bolder;
	background-color: rgba(28, 148, 196, 0.25);

	padding-top: 3px;
	padding-bottom: 3px;
}

.step.phantom .title {
	background-color: rgba(0,0,0,0) !important;
}

.step .body {
    margin-top: 10px;
    font-size: 14px;

    padding-top: 10px;

    padding-left: 15px;
    padding-right: 15px;

    padding-bottom: 10px;

    text-align: left;
}


.mobile-spacer {
    height: 0px;
}


.footer {
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 60px;
    min-height: 60vh;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

#intro-tile h2 {
    line-height: 1.25;
    font-size: 24pt;
}


#end-text-block {
    /*margin-bottom: 200px;*/
    margin-bottom: 25vh;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 30px;

    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}

.header {
    background-color: #f1f1f1;
    height: 10vh;
    max-height: 70px;
    min-height: 45px;
    display: flex;
}

.header .main-site-link {
    align-self: center;
    margin-right: 3vw;
    position: absolute;
    right: 0vw;

}

.header .main-site-link button {
    background-color: rgba(48, 112, 196, 0.8);
    color: white;
    padding: 0.6rem;
    border-radius: 3px;
    font-size: 1.5rem;
    text-decoration: none;
}

.axis-label {
   font-size: 20px;
}

.axis-tip {
   font-size: 16px;
}

.tick text {
    font-size: 16px;
}

.d3-tip {
    min-width: 220px;
    /*max-width: 480px;*/
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    z-index: 100;
    padding: 1.5rem 2.5rem;
    line-height: 1;
}

.hover-circle {
    cursor: crosshair;
}

@media (max-width: 1100px) {
    .d3-tip {
        font-size: 14px;
        border-radius: unset;
        border: unset;
        border-top: 1px solid gray;
        max-width: unset;
    }

    #nodelink-tile {
        max-width: 98vw;
    }

    .step {
        min-width: 70vw;
    }

    .downArrow {
        display: none;
    }

    .step .body {
        font-size: 14px !important;
    }


    .viz-tile {
        padding-top: 150px;
    }

    .container {
        width: 95% !important;
    }

    h2 {
        font-size: 26pt;
    }

     #intro-text-block, #end-text-block {
         font-size: 16px;
     }

     #intro-tile h1 {
        font-size: 32px;
     }

     #intro-tile > p {
        font-size: 16px;
        width: unset;
        margin: unset;
     }

     .footer {
         font-size: 12px;
     }

     .tip-text {
         font-size: 14px;
     }

     .spacer {
        height: 0px;
    }

     #nodelink-intro {
        font-size: 18px;
     }

     .axis-label {
        font-size: 24px;
     }

     .axis-tip {
        font-size: 18px;
     }

     .tick text {
        font-size: 18px;
     }

     #bubbleplot-area {
        padding: unset;
     }
}

.container {
	z-index: 2;
    text-align: center;
    margin: unset;
    /*margin: 0;*/
    /*width: 80%;*/
}

.icon-img {
    height: 13px;
    width: 13px;
    margin-bottom: 2px;
}

.candidate-bubble-images {
    overflow: hidden;
    border-radius: 100px;
    border: 1px solid black;
}

hr {
    background-color: #bbb !important;
    color: #bbb !important;
    border: solid 0.3px #bbb !important;
}

#slider-div {
    padding: 0;
    text-align: center;
    height: 100%;
}

#candidate-select {
    text-align: center;
}

.range-value{
    position: absolute;
    top: 110%;
}
.range-value span{
    /*padding-top: 3px;*/
    /*padding-bottom: 3px;*/

    width: 30px;
    height: 26px;
    line-height: 24px;

    text-align: center;

    background: white;
    color: black;

    font-size: 12px;

    display: block;
    position: absolute;
    left: 50%;

    transform: translate(-50%, 0);

    border-radius: 6px;
    border: 1px solid black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#blue-highlight {
    padding: 1px 2px;

    border-radius: 3px;
    background-color: rgba(0,0,255,0.4);
}


#green-highlight {
    padding: 1px 2px;

    border-radius: 3px;
    background-color: rgba(0,128,0,0.4);
}


table{
    border-collapse:collapse;
    border:1px solid black;
    border-style: hidden;
}

table td,th{
    border:1px solid black;
    padding: 5px;
    text-align: center;
}

table td {
    text-align: right;
}


/*Scroll Arrow at Top of Page*/

.downArrow {
	position: absolute;
	bottom: 8%;
	left: 50%;
    z-index: 80;

    /*transform: translate(-50%, 0%);*/

    cursor: pointer;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


/*Load Spinner*/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    margin: 9px;
    border: 9px solid #444;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #444 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}